<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Items</h4>
  </div>
  <div class="list-group list-group-flush" *ngFor="let item of items">
    <div class="list-group-item">
      <div (click)="update(item)">{{item.name}}</div>
      <div class="container text-right temp" (click)="delete(item)">
      <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </div>
    </div>

  </div>
</div>
<br>
<div class="card fixed" style="width: 20rem;">
  <div class="card-body">
    <h2 class="card-title">Description</h2>
  </div>
  <div class="card" style="width: 20rem; overflow: auto">{{description}}</div>
</div>
